---
import "../styles/style.css";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Links from "../components/Links.astro";
import Btn from "../components/Btn.astro";
import MakeSense from "../components/MakeSense.astro";
---

<Links />
<Header />

<section class="page-title">
    <div class="container semi-container container-sm">
        <div class="row">
         <div class="col-12">
            <h1 class="text-center" style="color: #F1C700;">Patent Invalidity Searches</h1>
         </div>
        </div>
    </div>
</section>

<section>
    <div class="container semi-container container-sm mt-3">
      <div class="row">
        <div class="col-12">
          <p>DexPatent’s invalidity searches or knock out searches help you to identify prior art – i.e. patent and non-patent documents – that may challenge the validity of the claims of a target patent in order to discover prior art that patent examiner may possibly have overlooked during examination and hence helping you in litigation and licensing related negotiations.</p>
        </div>
      </div>
    </div>    
</section> 

<section>
    <!-- get a quote -->
    <Btn link="../get-a-quote.php" name="Get a quote for an invalidity search"/>
</section>

<section>
    <div class="container semi-container container-sm mt-5">
      <div class="row">
        <div class="col-12">
            <h2>When is an validity search needed?</h2>
          <p class="mt-3">The goal of an invalidity search is to locate evidence that the patent claims were granted erroneously due to either oversight or concealment of the prior art during the examination process. Validity searches often are the result of potential patent infringement or a potentially profitable business opportunity.</p>
        </div>
      </div>
    </div>    
</section> 

<section>
    <div class="container semi-container container-sm mt-5">
      <div class="row">
        <div class="col-12">
            <h2>Examples & use cases of invalidity search</h2>
            <ol class="mt-3">
                <li>Invalidate a patent</li>
                    <p>A software company has been sued for patent infringement. In response, the company hires DexPatent to perform a search to invalidate the patent of the accuser.</p>
                <li>You are considering a law suit</li>
                <p>You, the owner of an automotive company and an infringed patent,
                   is considering a lawsuit. In preparation, the company asks DexPatent team to conduct a search to validate its patent as a precursor to enforcement.
                </p>
                <li>Licensing</li>
                <p>You, the patent owner and licensor of a novel technology request DexPatent patent scientists to conduct a validity search, knowing that a highly defensible patent will command greater royalties.</p>
            </ol>
          <p class="mt-3"></p>
        </div>
      </div>
    </div>    
   </section> 

   <section>
    <div class="container container-md semi-container mt-5">
      <div class="row">
          <div class="col-12 d-flex justify-content-center">
             <img src="./invalidity-search.png" class="img-fluid" title="Patent Invalidity Search" alt="Patent Invalidity Search">
          </div>
         </div> 
       </div>

       <!-- case study -->
   <Btn link="https://dexpatent.com/insights/invalidity-validity-searches/" name="View a case study"/>


</section>

 <section>
 <div class="container container-md semi-container mt-5">
   <div class="row">
     <div class="col-lg-12 d-flex justify-content-center">
       <p class="stars" style="margin: 0">
         <i class="fa fa-star"></i>
         <i class="fa fa-star"></i>
         <i class="fa fa-star"></i>
         <i class="fa fa-star"></i>
         <i class="fa fa-star"></i>
       </p>
     </div>
   </div>
   <div class="row">
     <div class="col-lg-12">
       <p class="quote-cmn"><sup><span style="color: orange;"><i class="fa fa-quote-left fa-xs" style="font-size: 1.1em" aria-hidden="true"></i></span></sup>&nbsp;&nbsp;DexPatent’s team found very relevant patents. Their invalidity search report helped us greatly in our litigation&nbsp;&nbsp;<span style="color: orange;"><sup><i class="fa fa-quote-right fa-xs" style="font-size: 1.1em;" aria-hidden="true"></i></sup></span></p>

       <div style="text-align: center; color: orange;">
         <span class="quote-cmn">IP Counsel, Software Company, USA</span>
       </div>
     </div>
   </div>
 </div>
</section>

<section>
    <!-- Request a sample invalidity search report -->
   <Btn link="#" name="Request a sample invalidity search report"/>

</section>

<section>
 <div class="container semi-container container-sm mt-5">
   <div class="row">
     <div class="col-12">
         <h2>What needs to be searched in a validity search?</h2>
       <p class="mt-3">An invalidity/validity search involves conducting a patent and non-patent literature search to identify potential references predating the earliest filing of the target patent. The claims of the target patent are to be thoroughly analyzed against identifying closest prior art that may be alone or in combination with another prior art may invalidate the target patent.</p>
       <h3>Our deliverables</h3>
       <p class="mt-3">Our invalidity/validity search report includes the bibliographic details of potential patent and non-patent literature and the claim comparison matrix containing mapping of the target patent claims to the relevant text of the potential literature.</p>
     </div>
   </div>
 </div>    
</section> 

 <section>
 <div class="container semi-container container-sm mt-5">
   <div class="row">
     <div class="col-12">
         <h2>Relavant patent laws and sections</h2>
       <p class="mt-3">When we do an invalidity search, we try and find prior art in proving anticipation under 35 U.S.C § 102.  Such patent-invalidating prior art meets every limitation of a targeted claim.</p>
       <p>If locating § 102 art proves elusive, we try and find prior art for obviousness under 35 U.S.C. § 103. </p>
       
     </div>
   </div>
 </div>    
</section> 

<section>
 <div class="container semi-container container-sm mt-5">
   <div class="row">
     <div class="col-12">
         <h2>Customers who ordered invalidity searches also used dexpatent for</h2>
       <p class="mt-3  text-center"><a href="https://www.dexpatent.com/patent.php" title="Patentability Searches" style="color: #F1C700;">Patentability Searches</a></p>
       <p class="text-center"><a href="https://www.dexpatent.com/fto.php" style="color: #F1C700;">FTO Searches</a> </p>
       <p class="text-center"><a href="https://www.dexpatent.com/strategy-landscaping.php" style="color: #F1C700;">Patent And Technology Landscapes</a></p>
       <p class="text-center"><a href="https://www.dexpatent.com/aboutus.php" style="color: #F1C700;">Download an overview of DexPatent</a></p>
       
     </div>
   </div>
 </div>    
</section> 

<MakeSense />
<Footer />
