---
const { link, name } = Astro.props;
---

<div class="row" style="margin-top: 0px;">
    <div class="col-12 d-flex justify-content-center">
      <a href={link} target="_blank">
       <button class="btn qt-get-start-btn" style="background-color: #F5B82B;; color: #fff; margin-top: 20px; font-weight: 700;">{name}</button>
      </a>
    </div>
</div>