---
import Btn from "./Btn.astro";
import MakeSenseCard from "./MakeSenseCard.astro";
---
  <div class="container semi-container container-sm mt-5">
    <div class="row">
      <div class="col-12">
        <h2 style="color: #F5B82B; font-size:2.3rem;font-weight: 600;" class="text-center mb-4">Why choosing Dexpatent makes sense?</h2>
      </div>
    </div>
    <div class="row pb-3 card_gap">
      <MakeSenseCard img="../consistent.webp" title="Consistent" name="DexPatent consistently delivers top-notch reports." />
      <div class="col-lg-1 d-block d-lg-none">&nbsp;</div>
      <MakeSenseCard img="../reliable.webp" title="Reliable" name="DexPatent is a trusted partner for any MNCs and large law firms." />
      <div class="col-lg-1 d-block d-lg-none">&nbsp;</div>
      <MakeSenseCard img="../fast.webp" title="Fast" name="DexPatent’s quick response shows we respect your time." />
    </div>
    <div class="mb-5">
      <Btn link="https://www.autodetect.helloleads.io" name="Patents made simple with DexPatent"/>
    </div>
  </div>